{% extends 'students/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block logo %} 

	     <!-- Logo -->
		 <div class="col-xs-8">
		   <h1> Сервіс Обліку Студентів </h1>
		  </div>
		  
{% endblock logo %}

{% block group_selector %}
		  <!-- Groups Selector -->
		  <div class="col-xs-4" id="group-selector">
		    <strong>Група:</strong>
		    <select class="custom-select">
              <option value="" >Усі Студенти </option>
			  <option value="" >457 Група, Романчук Сергій (№ 100) </option>
			  <option value="" >453 Група, Романчук Максим (№ 24) </option>
			  <option value="" >455 Група, Гнітецький Ярослав (№ 02) </option>
			  
			</select>
		  </div>
{% endblock group_selector %}

{% block title %}База Студентів{% endblock title %}

{% block content %}

<!doctype html>

			  <!-- Додати Студента -->
			  <a class="btn btn-primary" href = "{% url "students_add" %}" role="button">Додати Студента</a>
			  
			  <!-- Start Studenrs Listing -->
			  <table class="table table-hover table-striped" >
			    <thead>
				  <tr>
					 <th> <a href="">№ </a></th>
					 <th> Фото </th>
					 <th> <a href="">Прізвище &uarr;</a> </th>
					 <th> <a href="#">Ім'я</a></th>
					 <th> <a href="#">№ Білету </a></th>
					 <th> Дії </th>
				   </tr>
				 </thead>
				  <tbody>
				    
				    {% for student in students %}  
				    <tr>
					  <td> {{ forloop.counter }} </td>
					  <td> <img height="30" width="30" src="{% static student.image %}" class="img-circle"> </td>
					  <td> <a title="Редагувати"  href="{% url "students_edit" student.id %}"> 
					       {{ student.last_name }} </td>
					  <td> <a title="Редагувати"  href="{% url "students_edit" student.id  %}">
					       {{ student.first_name  }} </td>
					  <td> {{ student.ticket }} </td>
					  <td> 
					    <div class = "btn-group">
   
                          <button type = "button" 
						               class = "btn btn-default dropdown-toggle" data-toggle = "dropdown"> Дія
                            <span class = "caret"></span>
						  </button>
   
						  <ul class = "dropdown-menu" role = "menu">
							<li role="presentation">
							  <a role="menuitem" tabindex="-1" href = "/journal">Відвідування</a>
							</li>
							<li role="presentation">
							  <a role="menuitem" tabindex="-1" href = "{% url "students_edit" student.id %}">Редагувати</a>
							</li >
							<li role="presentation">
							  <a role="menuitem" tabindex="-1" href = "{% url "students_delete" student.id %}"> Видалити</a>
							</li>
      
						  </ul>
						</div>
					  </td>
					
					</tr>
					{% endfor  %}
							
				  </tbody>
			  </table>
			   <!-- Start Studenrs Listing -->
			  
			  {% include 'pagination.html' %}
			  
		  
{% endblock content %}

{% block footer %}

		<!-- Start Footer -->
		<div class="row" id="footer">
		  <div class="col-xs-12">
		   &copy; 2020 Сервіс Обліку Студентів
		  </div>
		</div>
		<!-- End Footer -->
		
{% endblock footer %}
