{% extends 'students/base.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


{% block meta_title %} {% trans "Delete Student" %} {% endblock meta_title %}

{% block title %} {% trans "Delete Student" %} {% endblock title %}

{% block logo %} 

	     <!-- Logo -->
		 <div class="col-xs-8">
		   <h1> {% trans "Students Accounting Service" %} </h1>
		 </div>
		  
{% endblock logo %}

{% block status_message %}
    {{ form.errors }}
    {% if form.errors %}
    
    <div class='alert alert-danger' role="alert">
      {% trans "Please, edit next errors" %}
    </div>

    {% endif %}

{% endblock %}


{% block content %}	
  
  <form action="{% url 'students_delete' object.id %}" method="post">
  	{% csrf_token %}
  	<p> {% blocktrans %}Do you realy want to delete student: "{{ object }}"? {% endblocktrans %} </p>
  	<input type="submit" value="{% trans 'Yes' %}" name="delete_button" 
  	       class="btn btn-danger" /> <br /> <br />
    
  </form>
{% endblock content %}
<input type="submit" value="Зберегти" name="add_button"
             class="btn btn-primary" /> 
<! -- <span id="button_id_edit_student"> <a href="{% url 'home' %}?status_message=Редагування студента скасовано">Cancel</a> </span> -->