{% extends 'students/base.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %} {% trans "Accounting Journal" %} {% endblock meta_title %}

{% block title %} {% trans "Accounting Journal" %} {% endblock title %}

{% block status_message %}
   
    {% if not students %}
    
    <div class='alert alert-waring' role="alert">
      While there are not students in database. Please, 
      <a href="{% url 'students_add' %}"> {% trans "add" %} </a> {% trans "first." %}
    </div>
    
    {% endif %}
{% endblock %}

{% block content %}	
  {% if not students %}
    <div class="alert alert-warning">
    	While there are not students in database. Please,
    	<a href="{% url 'students_add' %}"> {% trans "add" %} </a> {% trans "first." %}
    </div>

  {% else %}

  <div class="alert alert-warning" id="downloading">
    {% trans "Changes save in journal auto after click on checkbox of table." %}
    <span id="ajax-progress-indicator"> {% trans "Loading..." %} </span>

  </div>
  <div class="alert alert-danger" id="error-status">
  	
  </div>

  <p id="journal-nav" class="text-center"> 
    <a href="?month={{ prev_month }}"
       title="{% trans 'Prev month' %}">&larr;</a>
    <!-- TODO: translate month name -->
    <strong>{{ month_verbose }} {{ year }}</strong>
    <a href="?month={{ next_month }}"
       title="{% trans 'Next month' %}">&rarr;</a>
  </p>

  <table class="table table-hover table-striped table-bordered"
         id="students-journal">

    <thead>
    	<tr class="header">
    	  <th class="num">#</th>
    	  <th class="name">{% trans "Student" %}</th>
    	  {% for day in month_header %}
          <th class="day-header">
          	{% trans day.verbose %}
          	<br />
          	{{ day.day }}
          </th>
    	  {% endfor %}
    	</tr>
    </thead>

    <tbody>
    	
      {% csrf_token %}
      
      {% for student in students %}
      <tr>
      	
      	<td>
      	  {% if is_paginated %}
            {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
          {% else %}
            {{ forloop.counter }}
      	  {% endif %}
      	</td>
        
        <td>
          <a title="{% trans 'Edit' %}" 
             href="{% url 'students_edit' student.id %}" class="modal-form-link">
               {{ student.fullname }}
             </a>
        </td>

        {% for day in student.days %}
         <td class="day-box">
         	<input type="checkbox" 
         	       data-student-id="{{ student.id }}" 
         	       data-date="{{ day.date }}" 
         	       data-url="{{ student.update_url }}" 
         	       value="1"
         	       {% if day.present %} checked="checked" {% endif %}>
         	
         </td>
        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  	
  </table>
  {% endif %}

  {% with object_list=students %}
    {% include "students/pagination_journal.html" %}
  {% endwith %}

{% endblock content %}
