/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bol;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

/* Знайшли елемент футера по його унікальному ідентифікатору footer  */
#footer {
  /* задаємо верхню межу елемента : ширина лінії, тип лінії, колір лінії */
  border-top: 1px solid  #dddddd;
  /* задаємо внутрішню відстань елемента до верхнього краю  */
  padding-top: 100px;
}
  
  /* Group Selector */
  #group-selector  {
	  margin-top: 30px;
  }
  
  #group-selector select {
	  margin: 30;
	  width: 85%;
	  background-color:  #ffffff;
	  border: 1px solid #cccccc;
	  height: 30px;
	  line-height: 30px;
	  color:  #555555;
  }

 /* Journal Table Style */
td.day-box,
th.day-header {
	padding: 4px !important;
}