/* Global Styles */

/* index.html */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

/* Знайшли елемент футера по його унікальному ідентифікатору footer  */
#footer {
  /* задаємо верхню межу елемента : ширина лінії, тип лінії, колір лінії */
  border-top:  1px solid  #dddddd;
  /* задаємо внутрішню відстань елемента до верхнього краю  */
  padding-top: 10px;
}
  
  /* Group Selector */
  #group-selector  {
	  margin-top: 25px;
  }
  
  #group-selector select {
	  margin: 10;
	  width: 85%;
	  background-color:  #ffffff;
	  border: 1px solid #cccccc;
	  height: 30px;
	  line-height: 30px;
	  color:  #555555;
  }
  
/* Редагування кнопки додати  */
#group-add {
	margin-left: 0px;
	margin-top: 20px;
}
  
  /* list-group.html */
  
  /* Центування рядка з виведенням місяця */
  #month  { 
   margin-left: 500px;
   padding-bottom:  10px;
  }
  
  /* phorm_stud.html */
  
  /* Form Students */
  #form {
	  margin-top: 10px;
  }
  
  /* Select-group-form */
  #select-group-form {
    height: 30px;	  
  }
  
  /* Редагування висоти полей для вводу */
  .form-control {
	  height: 30px;
  }
  
  #buttons {
	  padding-left: 210px;
	  padding-top: 15px;
	  padding-bottom: 5px;
	  margin-left: 0px;
	  margin-top: 10px;
	  background-color: #ECEAE8;
  }

/* Form Styles */
textarea,
select,
input {
  max-width: 300px;
}

#button-add_student {
  margin-bottom: 10px;
}
#button_id_edit_student {
  margin-left: 20px;
}

#submit-id-second_button {
  margin-left: 90px;
}

  
  