/* Global Styles */

/* index.html */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#header{
  background-color: #1E449A;
  color: #A6BAC2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

/* Знайшли елемент футера по його унікальному ідентифікатору footer  */
#footer {
  /* задаємо верхню межу елемента : ширина лінії, тип лінії, колір лінії */
  border-top:  1px solid  #dddddd;
  /* задаємо внутрішню відстань елемента до верхнього краю  */
  padding-top: 10px;
  text-align: center;
}
  
/* Group Selector */
#group-selector  {
	margin-top: 20px;
  color: white;
  font-size: 18px;
  text-align: left;
}
  
#group-selector select {
	margin: 10;
	width: 60%;
	background-color:  #FBF9F9;
	border: 1px solid #cccccc;
	height: 25px;
	line-height: 30px;
	color:  #555555;
  font-size: 15px;
}

/* Change Language */

#lang-selector {
  margin-top: 25px;
  margin-left: 0px;
  text-align: right;
}

#lang-selector select {
  margin: 10;
  width: 30%;
  height: 30px;
  line-height: 30px;
}

/* User's toolbar */

.nav-item a:active{
 color: white;
 text-decoration: none;
} 

.nav-item a:visited{
  color: white;
  text-decoration: none;
}

.nav-item a:hover{
  color: #A6BAC2;
  text-decoration: none;
}

.nav-item a:link{
  color: white;
  text-decoration: none;
}


#user-toolbar{
  background-color: #1E449A;
  margin-top: 20px;
  text-align: right;
  padding-right: 20px;
}

#navbarDropdownMenuLink{

  font-weight: bold;
  text-align: right;
  font-size: 16px;
}

.dropdown-menu a{
  font-weight: 500;
  font-size: 16px;
}

.dropdown-menu a:hover{
  font-weight: bold;
  color: black;
}

.dropdown-menu a:visited{
  color: black;
}

#exit-enter-register-menu a:active, 
#exit-enter-register-menu a:visited, #exit-enter-register-menu a:link{
 color: white;
 text-decoration: none;
 font-weight: 1000;
 font-size: 17px;
}

#exit-enter-register-menu a:hover {
  color: #A6BAC2;
}

#exit-enter-register-menu{
  margin-top: 17px;
}

/* add appropriate colors to fb, twitter and google buttons */

.fb{
  background-color: #3B5998;
  color: white;
  width: 30px;
  height: 30px;
}

#i-fb{
  margin-left: -6px;
}

.google{
  background-color: #dd4b39;
  color: white;
  width: 30px;
  height: 30px;
}

#i-goole{
  margin-left: -6px;
}

.twitter{
  background-color: #55ACEE;
  color: white;
  width: 30px;
  height: 30px;
}

#i-twitter{
  margin-left: -6px;
}

.btn:over{
  opacity: 1;
}
  
/* Редагування кнопки додати  */
#group-add {
	margin-left: 0px;
	margin-top: 20px;
}
  
  /* list-group.html */
  
  /* Центування рядка з виведенням місяця */
  #month  { 
   margin-left: 500px;
   padding-bottom:  10px;
  }
  
  /* phorm_stud.html */
  
  /* Form Students */
  #form {
	  margin-top: 10px;
  }
  
  /* Select-group-form */
  #select-group-form {
    height: 30px;	  
  }
  
  /* Редагування висоти полей для вводу */
  .form-control {
	  height: 30px;
  }
  
  #buttons {
	  padding-left: 210px;
	  padding-top: 15px;
	  padding-bottom: 5px;
	  margin-left: 0px;
	  margin-top: 10px;
	  background-color: #ECEAE8;
  }

/* Indicator on students page downloading */
#loading-before-modal-students-edit {
  display: none; 
}

/* Indicator on students modal form downloading */

#ajax-progress-indicator-modal-window {
  display: none;
  margin-left: 200px;
}

/* Form Styles */
textarea,
select,
input {
  max-width: 320px;
}

#buttons-form {
  margin-bottom: 10px;
}
#button_id_edit_student {
  margin-left: 20px;
}

#submit-id-second_button {
  margin-left: 90px;
}

#buttons_groups_delete {
  margin-bottom: 10px;
  margin-top: 20px;
  
}

/*  Додав відстань між кнопками зберегти та скасувати groups_edit.html */
#cancel_button {
  margin-left: 10px;
}

/* Journal Table Style */
td.day-box,
th.day-header {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

#ajax-progress-indicator {
  display: none;
}

#error-status {
  display: none;
}

/* styles of card element */

#card{
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 80px; 
  width: 400px;
  border: solid 1px lightgray; 
  padding-left: 40px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: #F0F8FF;
}