{% extends 'students/base.html' %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %} Видалити Групу {% endblock meta_title %}

{% block logo %} 

       <!-- Logo -->
     <div class="col-xs-8">
       <h1> Сервіс Обліку Студентів </h1>
     </div>
      
{% endblock logo %}


{% block title %} Видалити Групу {% endblock title %}

{% block status_message %}

    {% if errors %}
    
    <div class='alert alert-danger' role="alert">
      Будь-ласка, виправте наступні помилки
    </div>

    {% endif %}

{% endblock %}


{% block content %}  

	{% for group in groups %}
	{% if gid|add:0 == group.id %}
    <form method="POST" action="{% url 'groups_delete' group.id %}" >
    	{% csrf_token %}
    	<p> Ви дійсно хочете видалити групу {{ group.title }}</p>
    	<div id="buttons_groups_delete">
    	  <button name="delete_button" class="btn btn-danger">Так</button>
    	  <button name="cancel_button" class="btn btn-danger">Ні</button>
    	</div>
    </form>
    {% endif %}
    {% endfor %}
{% endblock content %}
