{% extends "students/base.html" %}
{% load i18n %}

{% block content %}
<div id="card">
  <h2>{% trans "Account Activated" %}</h2>
  <p class='alert alert-success' role="alert" style="margin-right: 40px;">
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    {% trans "You can log in." %}
    {% endif %}
  </p>
  <a href="{% url 'users:auth_login' %}" class="btn btn-primary" style="width: 320px;">{% trans "Return log in" %}</a>. 
  <p></p>
</div>
{% endblock %}

{% block footer %}
		<!-- Start Footer -->
		<div class="row" id="footer" style="margin-top: 100px;">
		  <div class="col-xs-9">
		   &copy; 2020 {% trans "Students Accounting Service" %}
		  </div>
      <div class="col-xs-3" id="lang-selector" style="text-align: left;">
        <select>
              <option value="">{{LANGUAGE}}</option>
              <option value="uk">uk</option>
              <option value="en">en</option> 
            </select>
      </div>
		</div>
		<!-- End Footer -->
{% endblock footer %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}