{% extends "students/base.html" %}
{% load i18n %}

{% block content %}
<div id="card">
    <h2> Reset your password </h2>
      <p>   
       Check your email for a link to reset your password. <br> 
       If it doesn't appear within a few minutes, check your <br> 
       spam folder.
      </p> 
      <a href="{% url 'users:auth_login' %}" class="btn btn-primary" style="width:320px;"> {% trans "Return to login" %} </a> 
      <p></p>
      <p></p>
</div>
{% endblock %}

{% block footer %}
		<!-- Start Footer -->
		<div class="row" id="footer" style="margin-top: 150px">
		  <div class="col-xs-12">
		   &copy; 2020 {% trans "Students Accounting Service" %}
		  </div>
		</div>
		<!-- End Footer -->
{% endblock footer %}


{# This is used by django.contrib.auth #}