{% extends "students/base.html" %}
{% load i18n %}

{% block title %} {% endblock %}

{% block content %}
{% if validlink %}
<div id="card">
	<h2> {% trans "Change password for" %} <br> {% trans "@" %} {{form.user.username}} </h2>
	<form method="post" action="">
	    {% csrf_token %}
	    
	    <div class="form-group {% if form.errors.new_password1 %}has-error{% endif %}">
	        <label for="new_password1">{% trans "New password" %}:</label>
	        <input type="password" name="new_password1" class="form-control" id="new_password1" value="" />
	    </div>
	    <span class="help-block"> {{ form.errors.new_password1.as_text }} </span>

	    <div class="form-group {% if form.errors.new_password2 %}has-error{% endif %}">
	        <label for="new_password2">{% trans "New password confirmation" %}:</label>
	        <input type="password" name="new_password2" class="form-control" id="new_password2" value="" />
	    </div>
	    <span class="help-block"> {{ form.errors.new_password2.as_text }} </span>

	    <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}" style="width: 320px;"/>
	    <p></p>
	</form>
</div>
{% else %}
<div id="card">
    <h1>Password reset failed</h1>
    <p class='alert alert-dungeres' role="alert" style="margin-right: 40px;"> 
    	It looks like you clicked on an invalid password  
        resent link. Please try again. 
    </p>
    <a type="submit" class="btn btn-primary" href="{% url 'auth_password_reset' %}" style="width: 320px;"> {% trans 'Request a new password reset link' %} </a>
</div>
{% endif %}
{% endblock %}

{% block footer %}
		<!-- Start Footer -->
		<div class="row" id="footer" style="margin-top: 100px;">
		  <div class="col-xs-12">
		   &copy; 2020 {% trans "Students Accounting Service" %}
		  </div>
		</div>
		<!-- End Footer -->
{% endblock footer %}


{# This is used by django.contrib.auth #}