{% extends "students/base.html" %}
{% load i18n %}

{% block content %}
<!--<p>
    {% blocktrans %}
    Enter your email address and we will send you <br> a link to reset your password.
    {% endblocktrans %}
</p>-->
<div id='card'>
	<h2> Reset your password </h2>
      <p>   
       Enter your email address and we will send you a <br> link to reset your password.
      </p> 
	<form method="post" action="{% url 'auth_password_reset' %}">
	    {% csrf_token %}

	    <div class="form-group {% if form.errors.email %}has-error{% endif %}">
	        <label for="email">{% trans "Email" %}:</label>
	        <input type="email" name="email" class="form-control" id="email" value="" />
	    </div>
	    <span class="help-block"> {{ form.errors.email.as_text }} </span>

	    <input type="submit" class="btn btn-primary" value="{% trans 'Send password reset email' %}" style="width: 320px;" />
	    <p></p>
	</form>
</div>
{% endblock %}

{% block footer %}
		<!-- Start Footer -->
		<div class="row" id="footer" style="margin-top: 80px">
		  <div class="col-xs-12">
		   &copy; 2020 {% trans "Students Accounting Service" %}
		  </div>
		</div>
		<!-- End Footer -->
{% endblock footer %}

{# This is used by django.contrib.auth #}